@font-face {
  font-family: "iconfont"; /* Project id 4457785 */
  src: url('iconfont.woff2?t=1713004777365') format('woff2'),
       url('iconfont.woff?t=1713004777365') format('woff'),
       url('iconfont.ttf?t=1713004777365') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-yanzhengyanzhengma:before {
  content: "\e624";
}

.icon-youxiang:before {
  content: "\e711";
}

.icon-shouji:before {
  content: "\e615";
}

.icon-tubiao112:before {
  content: "\e633";
}

.icon-24gl-tags4:before {
  content: "\e87d";
}

.icon-charu:before {
  content: "\e602";
}

.icon-tuichudenglu:before {
  content: "\e61c";
}

.icon-tongbu_line:before {
  content: "\e614";
}

.icon-jianting:before {
  content: "\e955";
}

.icon-xiangyouxiayiye:before {
  content: "\e627";
}

.icon-bianji1:before {
  content: "\e65d";
}

.icon-fanhuishangyiye:before {
  content: "\e601";
}

.icon-xiangqing:before {
  content: "\e61b";
}

.icon-operation-button:before {
  content: "\e687";
}

.icon-shanchu:before {
  content: "\e8b6";
}

.icon-zhongguojie:before {
  content: "\e65f";
}

.icon-liebiaobuju:before {
  content: "\ea62";
}

.icon-buju:before {
  content: "\e60e";
}

.icon-shezhi:before {
  content: "\e60a";
}

.icon-pushpin:before {
  content: "\e780";
}

.icon-ding-xianxing:before {
  content: "\e6a2";
}

